<style>
* {box-sizing: border-box;}
body {margin: 0;font-family: Arial;}
.columnWaza {float: left;width: 10%;padding: 10px;}
.columnWaza img {opacity: 0.8;cursor: pointer;}
.columnWaza img:hover {opacity: 1;}
.rowHow:after {content: "";display: table;clear: both;}
.containerHere {position: relative;display: none;}
#imgtext {bottom: 15px;left: 15px;color: blue;position: relative;text-align: centerHuston;margin-top: 2%;bottom: 3%;font-size: 20px;}
.closebtnExit {position: absolute;top: 10px;right: 15px;color: white;
font-size: 35px;cursor: pointer;}
.centerHuston {width:100%;height: 100%;display: block;margin-left: auto;margin-right: auto;width: 50%;}
.myImg {border-radius: 5px;cursor: pointer;transition: 0.3s;}
.myImg:hover {opacity: 0.7;}

.rowHow.thumbnail{
position: relative;
z-index: 0;
}

.rowHow.thumbnail:hover{
background-color: transparent;
z-index: 50;
    animation-delay: -2s;
}

.rowHow.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background: rgba(0, 14, 12, 0.8);
padding: 0.25%;
left: -1000px;
border: 1px  gray;
visibility: hidden;
text-decoration: none;
}

.rowHow.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 0;
}

.rowHow.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 5%;
left: 5%; /*position where enlarged image should offset horizontally */

}  
</style>
